@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: black;
    --background-color: white;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: var(--background-color);
}
